$themeBlue: rgba(87, 86, 179, 1);

@mixin generalFooter {
    min-height: 100px;
    padding: 0px 60px;
    background: #fbfbfb;
    text-align: center;
}

.footer__bright {
    @include generalFooter();
    background: #fbfbfb;
}

.footer__dark {
    @include generalFooter();
    background: $themeBlue;
}
